<div class="project-sidebar">
    <h4>Miembros del proyecto</h4>
    <ul class="icon-member-list">
        {% for member in members %}
            {% set name = member.username %}

            {% if owner == member %}
                <li style="margin-right:3px;" data-toggle="tooltip" data-placement="top" title="{{ member.username}}">
                    <a data-toggle="dropdown" aria-expanded="false">{{member.username|first|upper}}<i class="mdi mdi-seal"></i></a>
                </li>
            {% else %}
                <li class="dropdown" data-toggle="tooltip" data-placement="top" title="{{ member.username}}">
                    <a data-toggle="dropdown" aria-expanded="false">{{member.username|first|upper}}</a>
                    {% if app.user == owner %}
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{{ path('sgpc_project_deletemember', { 'id' : project.id } ) }}" method="post" {{ form_enctype(deletemember_form) }}>
                                    {{form_widget(deletemember_form.member,{'value': name }) }}
                                    <input type="submit" value="Expulsar miembro" >
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        {% if app.user == owner %}
            <a class="js-toggle-addmember-form" href="javascript:void(0);">+</a>
            {{ render(controller('SgpcCoreBundle:Project:addmember', {'id': project.id})) }}
        {% endif %}

    </ul>


    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Muro de actividad</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Opciones</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">ToDo</div>
            <div role="tabpanel" class="tab-pane" id="profile">
                {% if app.user == owner %}        
                    <h4>Editar proyecto</h4>
                    {{form(delete_form)}}
                {% endif %}

            </div>
        </div>

    </div>


</div>