<div class="project-sidebar">
    <h4>Miembros del proyecto</h4>
    <ul class="icon-member-list">
        {% for member in members %}
            {% if owner == member %}
                <li data-toggle="tooltip" data-placement="top" title="{{ member.username}}"><strong>{{member.username|first|upper}}</strong></li>
                    {% else %}
                <li data-toggle="tooltip" data-placement="top" title="{{ member.username}}">{{ member.username|first|upper}}</li>
                {% endif %}
            {% endfor %}

        {% if app.user == owner %}
            <a class="js-toggle-addmember-form" href="javascript:void(0);">+</a>
            {{ render(controller('SgpcCoreBundle:Project:addmember', {'id': project.id})) }}
        {% endif %}

    </ul>

    <h4>Resumen de tareas</h4>


    <p class="underlined-stats">Tareas activas: <span class="badge firstlist">{{activeTasks|length}} </span> </p>  

    {% if lists|length > 0 %}
        {% for list in lists|slice(1,3) %}
            {% set tasks = list.tasks %}
            {% set actives = '0' %}
            {% for task in tasks if task.isActive%}
                {% set actives = actives + 1 %}
            {% endfor %}
            <p class="underlined-stats">{{ list.name }}: <span class="badge firstlist">{{ actives }} </span> </p>          
        {% endfor %}
    {% endif %}

    {% if lists|length > 4 %}
        {% set others = 0 %}
        {% for list in lists|slice(4, lists|length) %}
            {% set tasks = list.tasks %}
            {% set others = '0' %}
            {% for task in tasks if task.isActive%}
                {% set others = others + 1 %}
            {% endfor %}
        {% endfor%}
        <p class="underlined-stats"> Otras: <span class="badge">{{ others }} </span></p>
    {%endif%}


    {% if lists|length > 0 %}
        <div class="progress">       
            {% for list in lists|slice(0,3) %}
                {% set tasks = list.tasks %}
                {% set actives = '0' %}
                {% for task in tasks if task.isActive%}
                    {% set actives = actives + 1 %}
                {% endfor %}
                {% if activeTasks|length > 0 %}
                    <div class="progress-bar" role="progressbar" style="width:{{ actives  * 100 / (activeTasks|length) }}%">
                        {{ list.name }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}


    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Muro de actividad</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Opciones</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">ToDo</div>
            <div role="tabpanel" class="tab-pane" id="profile">
                {% if app.user == owner %}        
                    <h4>Editar proyecto</h4>
                    {{form(delete_form)}}
                {% endif %}
                
                <a href="javascript:void(0);" class="toggle-task-status">Ver tareas archivadas</a>
            </div>
        </div>

    </div>


</div>