{%  extends 'base.html.twig' %}

{% set list = task.listing %}
{% set project = list.project %}
{% block body %}
    {{ parent() }}    

    {{task.name}}
    <br>
    
    {{task.description}} 
    <br>

    {{task.priority}}
    <br>

    <a href="{{ path('sgpc_project_view', { 'id': project.id })  }}" class="">Volver al proyecto</a>

    <!--SIDEBAR-->
    <div class="task-sidebar">
        <h4>Miembros de la tarea</h4>

         <h4>Prioridad</h4>

    </div>

{% endblock %}
