{%  extends 'base.html.twig' %}

{% set list = task.listing %}
{% set project = list.project %}
{% set members = task.getUsers %}

{% block body %}
    {{ parent() }}    
    <div class="container-fluid">
            {{task.name}}
    <br>
    
    {{task.description}} 
    <br>

    <br>

    <a href="{{ path('sgpc_project_view', { 'id': project.id })  }}" class="">Volver al proyecto</a>
    </div>


    <!--SIDEBAR-->
    <div class="task-sidebar">
        <h4>Miembros de la tarea</h4>
            <ul class="icon-member-list">
            {% for member in members %}
                <li data-toggle="tooltip" data-placement="top" title="{{ member.username}}">{{ member.username|first|upper}}</li>
            {% endfor %}
            
            
        </ul>
            <a class="js-toggle-addmember-form" href="javascript:void(0);">Añadir miembro</a>
            {{ render(controller('SgpcCoreBundle:Task:addmember', {'id': task.id})) }}
        <h4>Prioridad</h4>
        {{task.priority}}
    </div>

{% endblock %}
