{%  extends 'base.html.twig' %}

{% set list = task.listing %}
{% set project = list.project %}
{% set members = task.getUsers %}
{% set duration =  date(task.createdAt|date("Y-m-d")).diff(date(task.dueDate|date("Y-m-d"))) %}
{% set duration_days = duration|date('%r%a') %}

{% block body %}
    {{ parent() }}    
    <div class="container-fluid">
        <!--DATOS-->
        Nombre: {{task.name}}
        <br>

        Descripci贸n: {{task.description}} 
        <br>
        Fecha de inicio:
        {{task.createdAt|date("d/m/Y") }}

        <br>
        Fecha estimada de finalizaci贸n
        {{task.dueDate|date("d/m/Y") }}

        <br>
        {%if duration_days == 1 %}
            Duraci贸n: {{duration_days}} dia
        {%else%}
            Duraci贸n: {{duration_days}} dias 
        {%endif%}

        <!--COMENTARIOS-->
        {{ render(controller('SgpcCoreBundle:Comment:add', {'id': task.id})) }}
        <section class="comments" id="comments">
            <section class="previous-comments">
                <h3>Comentarios</h3>
                {% include 'SgpcCoreBundle:Comment:view.html.twig' with { 'comments': comments } %}
            </section>
        </section>



        <br>
        <br>
        <br>
        <a href="{{ path('sgpc_project_view', { 'id': project.id })  }}" class="">Volver al proyecto</a>
    </div>


    <!--SIDEBAR-->
    <div class="task-sidebar">
        <h4>Miembros de la tarea</h4>
        <ul class="icon-member-list">
            {% for member in members %}
                <li data-toggle="tooltip" data-placement="top" title="{{ member.username}}">{{ member.username|first|upper}}</li>
                {% endfor %}

            <a class="js-toggle-addmember-form" href="javascript:void(0);">+</a>
            {{ render(controller('SgpcCoreBundle:Task:addmember', {'id': task.id})) }}

        </ul>

        <h4>Prioridad</h4>
        {{task.priority}}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function () {
            $('.js-toggle-addmember-form').click(function () {
                $(this).parent().find('.task-members-form').toggle();
            });
        });
    </script>
{% endblock %}
