{%  extends 'base.html.twig' %}

{% set list = task.listing %}
{% set project = task.project %}
{% set members = task.getUsers %}



{% block body %}
    {{ parent() }} 

    {% if project.model == 'kanban' %}

        {% set duration =  date(task.createdAt|date("Y-m-d")).diff(date(task.dueDate|date("Y-m-d"))) %}
        {% set duration_days = duration|date('%r%a') %}

        <div class="container-fluid">
            {% if project.model == 'kanban' %}
                <h3 class="dashboard-title"><a class="back-button" href="{{ path('sgpc_project_kanban', { 'id': project.id })  }}"><i class="mdi mdi-arrow-left"></i></a>Tarea {{task.name}}</h3>
                    {% else %}
                <h3 class="dashboard-title"><a class="back-button" href="{{ path('sgpc_project_scrum', { 'id': project.id })  }}"><i class="mdi mdi-arrow-left"></i></a>Tarea {{task.name}}</h3>
                    {% endif %}

            <!--DATOS-->

            <div class="task-content">

                <p class="desc"><span>Descripción:</span> {{task.description}}</p>

                <p class="desc"><span>Categoría:</span> {{task.listing}}</p>

                <p class="desc"><span>Estado:</span> {% if task.isActive %} Activa {% else %} Archivada {% endif %}</p>

                <p class="desc"><span>Fecha de inicio:</span>{{task.createdAt|date("d/m/Y") }}</p>

                {% if duration %}
                    <p class="desc"><span>Fecha estimada de finalización:</span>{{task.dueDate|date("d/m/Y") }}</p>
                {% endif %}

                {% if duration %}    
                    {%if duration_days == 1 %}
                        <p class="desc"><span>Duración:</span> {{duration_days}} dia</p>
                    {%else%}
                        <p class="desc"><span>Duración:</span> {{duration_days}} dias </p>
                    {%endif%}
                {% endif %}



                <!--COMENTARIOS-->
                <section class="comments" id="comments">
                    <section class="previous-comments">
                        <h3>Comentarios</h3>
                        {% include 'SgpcCoreBundle:Comment:view.html.twig' with { 'comments': comments } %}
                    </section>
                </section>
                <div class="new-comment">
                    {% if app.user == project.owner %}                
                        {{ render(controller('SgpcCoreBundle:Comment:add', {'id': task.id})) }}
                    {% else %}
                        {% for member in members %}
                            {% if app.user == member%}
                                {{ render(controller('SgpcCoreBundle:Comment:add', {'id': task.id})) }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="sidebar-toggle">
            <i class="mdi mdi-menu"></i>
            <i class="mdi mdi-chevron-right"></i>
        </div>

        <!--SIDEBAR-->
        {{ include('SgpcCoreBundle:Task:partials/sidebar.html.twig') }}

        {#
        ********************************************************************************
        ********************************************************************************
        ********************************************************************************
        ********************************************************************************
        ********************************************************************************
        #}

    {% else %}

        {% set worklog = task.worklog %}

        <div class="container-fluid">

            <h3 class="dashboard-title"><a class="back-button" href="{{ path('sgpc_project_scrum', { 'id': project.id })  }}"><i class="mdi mdi-arrow-left"></i></a>Tarea {{task.name}}</h3>

            <!--DATOS-->

            <div class="task-content">

                <p class="desc"><span>Descripción:</span> {{task.description}}</p>

                {%if task.isActive%}
                    <p class="desc"><span>Estado:</span> {{task.listing}}</p>
                {%else%}
                    {% if task.lastListing %}
                        <p class="desc"><span>Estado:</span> {{task.lastListing}}</p>
                    {% else %}
                        <p class="desc"><span>Estado:</span>To Do</p>
                    {% endif %}
                {%endif%}
                <p class="desc"><span>Horas estimadas:</span> {{task.hours}}</p>



                <!--COMENTARIOS-->
                <section class="comments" id="comments">
                    <section class="previous-comments">
                        <h3>Comentarios</h3>
                        {% include 'SgpcCoreBundle:Comment:view.html.twig' with { 'comments': comments } %}
                    </section>
                </section>
                <div class="new-comment">
                    {% if app.user == project.owner %}                
                        {{ render(controller('SgpcCoreBundle:Comment:add', {'id': task.id})) }}
                    {% else %}
                        {% for member in members %}
                            {% if app.user == member%}
                                {{ render(controller('SgpcCoreBundle:Comment:add', {'id': task.id})) }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="sidebar-toggle">
            <i class="mdi mdi-menu"></i>
            <i class="mdi mdi-chevron-right"></i>
        </div>

        <!--SIDEBAR-->
        {{ include('SgpcCoreBundle:Task:partials/scrumSidebar.html.twig') }}
    {% endif %}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function () {
            $('.js-toggle-addmember-form').click(function () {
                $(this).parent().find('.task-members-form').toggle();
            });

            $('.sidebar-toggle').click(function () {
                $(this).toggleClass('in');
                $('.task-sidebar').toggleClass('in');
            });

        });
    </script>
{% endblock %}
