<div class="task-sidebar">
    <h4>Responsable de la tarea</h4>
    <ul class="icon-member-list">
        {% for member in members %}
            {% if member == project.owner %}
                <li style="margin-right:3px;" data-toggle="tooltip" data-placement="top" title="{{ member.username}}">{{member.username|first|upper}}<i class="mdi mdi-seal"></i></li>
                {% else %}
                <li data-toggle="tooltip" data-placement="top" title="{{ member.username}}">{{ member.username|first|upper}}</li>
                {% endif %}
            {% endfor %}
            {% if members |length < 1 %}
            <a class="js-toggle-addmember-form" href="javascript:void(0);">Añadir responsable +</a>
            {{ render(controller('SgpcCoreBundle:Task:addmember', {'id': task.id})) }}
        {% endif %}
    </ul>

    <h4>Prioridad</h4>
    {% if task.priority == 3 %} Baja {% elseif task.priority == 2 %} Media {% else %} Alta {% endif %}


    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#task-activity" aria-controls="task-activity" role="tab" data-toggle="tab">Muro de actividad</a></li>
            <li role="presentation"><a href="#task-options" aria-controls="task-options" role="tab" data-toggle="tab">Opciones</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="task-activity">ToDo</div>
            <div role="tabpanel" class="tab-pane" id="task-options">

                <br>
                {% if app.user == project.owner %}
                    <a href="{{ path('sgpc_task_edit', {id: task.id}) }}" class="btn btn-primary">Editar tarea</a>
                {% else %}
                    {% for member in members %}
                        {% if app.user == member %}
                            <a href="{{ path('sgpc_task_edit', {id: task.id}) }}" class="btn btn-primary">Editar tarea</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>

    </div>

</div>