<div class="task-sidebar">
    <h4>Miembros de la tarea</h4>
    <ul class="icon-member-list">
        {% for member in members %}
            {% set name = member.username %}

            {% if member == project.owner %}               
                <li class="dropdown" data-toggle="tooltip" data-placement="top" title="{{ member.username}}">
                    <a data-toggle="dropdown" aria-expanded="false">{{member.username|first|upper}}<i class="mdi mdi-seal"></i></a>
                    {% if app.user == project.owner %}
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{{ path('sgpc_task_deletetaskmember', { 'id' : task.id } ) }}" method="post" {{ form_enctype(deletetaskmember_form) }}>
                                    {{form_widget(deletetaskmember_form.member,{'value': name }) }}
                                    <input type="submit" value="Abandonar tarea" >
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </li> 
            {% else %}
                <li class="dropdown" data-toggle="tooltip" data-placement="top" title="{{ member.username}}">
                    <a data-toggle="dropdown" aria-expanded="false">{{member.username|first|upper}}</a>
                    {% if app.user == project.owner %}
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{{ path('sgpc_task_deletetaskmember', { 'id' : task.id } ) }}" method="post" {{ form_enctype(deletetaskmember_form) }}>
                                    {{form_widget(deletetaskmember_form.member,{'value': name }) }}
                                    <input type="submit" value="Expulsar miembro" >
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </li>                
            {% endif %}
        {% endfor %}           
        {% if app.user == project.owner %}
            <a class="js-toggle-addmember-form" href="javascript:void(0);">+</a>
            {{ render(controller('SgpcCoreBundle:Task:addmember', {'id': task.id})) }}
        {% endif %}
    </ul>

    <h4>Prioridad</h4>
    {% if task.priority == 3 %} Baja {% elseif task.priority == 2 %} Media {% else %} Alta {% endif %}


    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#task-activity" aria-controls="task-activity" role="tab" data-toggle="tab">Muro de actividad</a></li>
            <li role="presentation"><a href="#task-options" aria-controls="task-options" role="tab" data-toggle="tab">Opciones</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="task-activity">ToDo</div>
            <div role="tabpanel" class="tab-pane" id="task-options">
                {% if task.isActive and app.user == project.owner %}
                    {{form(store_form)}}
                {% endif %}
                <br>
                {% if task.isActive %}
                    {% if app.user == project.owner%}
                        <a href="{{ path('sgpc_task_edit', {id: task.id}) }}" class="btn btn-primary">Editar tarea</a>
                    {% else %}
                        {% for member in members %}
                            {% if app.user == member %}
                                <a href="{{ path('sgpc_task_edit', {id: task.id}) }}" class="btn btn-primary">Editar tarea</a>
                            {% endif %}
                        {% endfor %}
                    {%endif%}
                {% endif %}

            </div>
        </div>

    </div>

</div>