<div class="task">
    <!--dropdown de la tarea-->
    <div class="dropdown">
        <a href="{{ path('sgpc_task_edit', {id: task.id}) }}">            
            <span class="mdi mdi-pencil"></span>
        </a>

    </div> 
    <a href="{{ path('sgpc_task_view', { 'id': task.id }) }}">

        <div class="priority-label" data-priority="{{task.priority}}"></div>
        <div class="task-title">
            {{task.name}}                                 
        </div>
        {% if date('now') > date(task.dueDate) %}
            <div class="task-timer" data-toggle="tooltip" data-placement="top" title="La tarea está fuera de tiempo">
                <i class="mdi mdi-clock"></i>
            </div>

        {% endif %}
        <div class="task-body">
            <ul class="icon-member-list">
                {% set taskmembers = task.getUsers %}
                {% for taskmember in taskmembers %}
                    <li data-toggle="tooltip" data-placement="top" title="{{ taskmember.username}}">{{ taskmember.username|first|upper}}</li>
                    {% endfor%}
            </ul>
        </div>  
    </a>

</div>