{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <p>{{ comment.comment }}</p>
        <header>
            <ul class="icon-member-list">
                <li data-toggle="tooltip" data-placement="top" title="{{ comment.user }}">{{ comment.user |first|upper}}</li>
            </ul>
            <time datetime="{{ comment.createdAt|date('c') }}">{{ comment.createdAt|date('d/m/Y') }}</time>
        </header>
    </article>
{% else %}
    <p>Esta tarea todavía no tiene comentarios.</p>
{% endfor %}