{%  extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div  class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>Mis proyectos</h3>
            </div>
             {% for project in projects %}
            <div class="col-xs-3">
                <div class="panel panel-default js-proyect" data-id="{{ project.id}}">
                    <div class="panel-heading">
                        <h3>{{ project.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ project.description}}</p>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('sgpc_project_view', { 'id': project.id }) }}" class="btn btn-sm btn-success">Ver</a>
                        <a href="{{ path('sgpc_project_delete', { 'id': project.id }) }}" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-xs-3">
                <div class="panel panel-default">
                    <a href="{{ path('sgpc_project_add') }}">
                       <div class="body text-center">
                           <h3><i class="mdi mdi-plus"></i></h3>
                           <p>Nuevo proyecto</p>
                        </div>                       
                    </a>  
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('public/js/project.js')}}"></script>
{% endblock %}