{%  extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div  class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="dashboard-title">Mis proyectos</h3>
            </div>
            <div class="col-xs-12 project-list">
                {% for project in projects %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-default js-proyect" data-id="{{ project.id}}">

                            <div class="panel-thumbnail">
                                <img class="img-responsive" src="{{ asset('public/img/project.jpg')}}">
                                <div class="overlay"></div>
                                <h3>{{ project.name }}</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{ project.description}}</p>
                            </div>
                            <div class="panel-footer">
                                {% if project.model == 'kanban' %}
                                    <a href="{{ path('sgpc_project_kanban', { 'id': project.id }) }}" class="btn btn-sm btn-success">Ver</a>
                                {% else %}
                                    <a href="{{ path('sgpc_project_scrum', { 'id': project.id }) }}" class="btn btn-sm btn-success">Ver</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <a href="{{ path('sgpc_project_add') }}">
                            <div class="panel-body text-center">
                                <h3><i class="mdi mdi-plus"></i></h3>
                                <p>Nuevo proyecto</p>
                            </div>                       
                        </a>  
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('public/js/project.js')}}"></script>
{% endblock %}