{%  extends 'base.html.twig' %}

{% set owner = project.getOwner %}
{% set members = project.getUsers %}
{% set sprints = project.sprints %}
{% set tasks = project.tasks %}
{% block body %}
    {{ parent() }}

    <div class="conatiner-fluid">

        <h3 class="dashboard-title">
            <a class="back-button" href="/"><i class="mdi mdi-arrow-left"></i>
            </a>{{project.name}}. Trabajo pendiente
        </h3>

        <div class="task-content">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#undone-sprints" aria-controls="undone-sprints" role="tab" data-toggle="tab">Sprint actual</a></li>
                <li role="presentation"><a href="#done-sprints" aria-controls="done-sprints" role="tab" data-toggle="tab">Sprints finalizados</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="undone-sprints">
                    <div class="sprint">
                        {% if sprints %}
                            {% for sprint in sprints if sprint.isActive %}
                                <a href="{{ path('sgpc_sprint_view', {'id':sprint.id})}}">{{sprint.name}} <br>Del {{sprint.start|date("d/m/Y")}} al {{sprint.end|date("d/m/Y")}} </a> <br> 
                                {% else %}
                                <a class="js-toggle-sprint-form" href="javascript:void(0);">
                                    Actualmente no hay ningún sprint. Crea uno aquí y selecciona las tareas que quieres que formen parte del mismo <i class="mdi mdi-plus"></i>
                                </a>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="done-sprints">
                    {% for sprint in sprints if not sprint.isActive %}
                        <a href="{{ path('sgpc_sprint_report', {'id':sprint.id})}}">{{sprint.name}} <br>Del {{sprint.start|date("d/m/Y")}} al {{sprint.end|date("d/m/Y")}} </a> <br> 
                        {% endfor %}
                </div>
            </div>



            <br><br>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#undone-tasks" aria-controls="undone-tasks" role="tab" data-toggle="tab">Tareas pendientes</a></li>
                <li role="presentation"><a href="#done-tasks" aria-controls="done-tasks" role="tab" data-toggle="tab">Tareas finalizadas</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="undone-tasks">
                    <table class="table backlog">
                        <thead>
                            <tr>
                                <th>Tarea</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                {% if not task.isActive and task.lastListing != 'Done' %}
                                    <tr>
                                        <td>                                        
                                            <a href="{{ path('sgpc_task_view', { 'id': task.id }) }}">
                                                {{task.name}}
                                            </a>
                                        </td>
                                        {% if task.lastListing %}
                                            <td>
                                                {{task.lastListing}}
                                            </td>
                                        {% else %}
                                            <td>To Do</td>
                                        {% endif %}
                                        <td>{{task.priority}}</td>

                                    </tr>  
                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                    <a class="js-toggle-task-modal btn btn-success " href="javascript:void(0);">Crear tarea</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="done-tasks">
                    <table class="table backlog">
                        <thead>
                            <tr>
                                <th>Tarea</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                {% if not task.isActive and task.lastListing == 'Done' %}
                                    <tr>
                                        <td>{{task.name}}</td>
                                        <td>{{task.lastListing}}</td>                                     
                                        <td>{{task.priority}}</td>
                                    </tr>  

                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="sidebar-toggle">
        <i class="mdi mdi-menu"></i>
        <i class="mdi mdi-chevron-right"></i>
    </div>


    <!--SIDEBAR-->
    {{ include('SgpcCoreBundle:Project:partials/scrumSidebar.html.twig') }}


    <!--MODALS-->
    {{ include('SgpcCoreBundle:Task:modals/taskModal.html.twig') }}
    {{ include('SgpcCoreBundle:Sprint:modals/sprintModal.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function () {
            $('.js-toggle-task-modal').click(function () {
                $('.task-form').show();
                $('#taskModal').modal('show');
            });

            $('.js-toggle-sprint-form').click(function () {
                $('#sprintModal').modal('show');
            });

            $('.js-toggle-addmember-form').click(function () {
                $(this).parent().find('.project-members-form').toggle();
            });

            $('.sidebar-toggle').click(function () {
                $(this).toggleClass('in');
                $('.project-sidebar').toggleClass('in');
            });



            $('.datepicker').datepicker();
        });
    </script>

{% endblock %}
