{%  extends 'base.html.twig' %}

{% set owner = project.getOwner %}
{% set members = project.getUsers %}
{% set lists = project.listings %}
{% block body %}
    {{ parent() }}

    <div class="project-wrapper">
        <div class="project-main-content">
            <div class="project-canvas">
                <h2>{{project.name}}</h2>

                <!--LISTADOS-->
                {% for list in lists %}
                    {{ include('SgpcCoreBundle:Listing:partials/listItem.html.twig') }}
                {% endfor %}

                <div class="list-wrapper">                  
                    <div class="list">    
                        <div class="list-header">
                            <a class="js-toggle-list-form" href="javascript:void(0);">Nueva lista</a>
                        </div>                        
                        <div class="list-body">
                            {{ render(controller('SgpcCoreBundle:Listing:add', {'id': project.id})) }}
                        </div>                                
                    </div>                            
                </div>

            </div>
        </div>
    </div>

    <div class="sidebar-toggle"></div>


    <!--SIDEBAR-->
    {{ include('SgpcCoreBundle:Project:partials/sidebar.html.twig') }}


    {{ include('SgpcCoreBundle:Task:modals/taskModal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function () {
            $('.js-toggle-task-form').click(function () {
                $(this).parent('.list-body').find('.task-form').toggle();
            });
            $('.js-toggle-list-form').click(function () {
                $(this).parents('.list').find('.list-form').toggle();
            });
            $('.js-toggle-addmember-form').click(function () {
                $(this).parent().find('.project-members-form').toggle();
            });

            $('.sidebar-toggle').click(function () {
                $(this).toggleClass('in');
                $('.project-sidebar').toggleClass('in');                
            });


            $('.datepicker').datepicker();
        });
    </script>

    <script>

    </script>
{% endblock %}
