{%  extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    
    
    <div class="project-wrapper">
        <div class="project-main-content">
            <div class="project-canvas">
                <h2>{{project.name}}</h2>
        
                <!--LISTADOS-->
                {% for list in lists %}
                    <div class="list-wrapper" data-id="{{ list.id }}">
                        <div class="list">
                            <div class="list-header">
                                {{ list.name }}
                            </div>
                            <div class="list-body">
                                {% for task in tasks %}
                                    <a href="{{ path('sgpc_task_view', { 'id': task.id }) }}">
                                        <div class="task">
                                            <div class="task-title">
                                                {{task.name}}
                                            </div>
                                        </div>
                                    </a>


                                {% endfor %}
                                <a class="" href="{{ path('sgpc_task_add') }}">Añadir una tarea</a>

                            </div>                           
                        
                        </div>
                    </div>                       
                {% endfor %}
                        
                <a class="btn btn-default btn-sm" href="{{ path('sgpc_listing_add') }}">New List</a>  
            </div>
        </div>
    </div>
                
                
    <!--SIDEBAR-->
    <div class="project-sidebar">
        <h4>Miembros del proyecto</h4>
        <ul>
            {% for member in members %}
                <li>{{ member.username }}</li>
            {% endfor %}
            <li>Añadir miembro</li>
        </ul>
                
        <h4>Editar proyecto</h4>
        {{form(delete_form)}}
        
         <h4>Muro de actividad</h4>

    </div>

{% endblock %}
